body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: PT Sans, sans-serif;
    background-color: #000000;
}

.header {
    max-height: 278px;
    width: 100%;
    display: flex;
    background: #000000;
    justify-content: center;
}

.main {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    background-color: #FF9933;
}

.form {
    position: absolute;
    width: 606px;
    height: fit-content;
    top: -40px;
    left: calc(50% - 303px);
    padding: 34px 28px;
    box-sizing: border-box;
    border-top: 8px solid #FFCC66;
    background-color: #ffffff;
}

.form__title {
    padding-bottom: 40px;
    font-size: 35px;
    margin: 0;
    display: block;
    width: 100%;
}

.form__description {
    margin: 0 0 45px 0;
    font-size: 14px;
}

.form__fields-wrapper {

}

.form__input-wrapper {
    margin-bottom: 45px;
}

.form__label {
    display: block;
    font-size: 20px;
    color: #383838;
    margin-bottom: 15px;
    width: 100%;
}

.form__input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1875em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: MuiInputBase-keyframes-auto-fill-cancel;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}

.form__input::placeholder {
    color: #acacac;
}

.form__input-block {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.1875em;
    width: 100%;
}

.form__input-block:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    pointer-events: none;
}

.form__input-block:hover:before {
    border-bottom: 2px solid #15464f;
    pointer-events: none;
}

.label-required:after {
    content: "*";
    color: rgba(200,0,5,.86);
    margin-left: 0;
}

.header__main-image {
    width: 1200px;
}

.button-submit {
    color: #ffffff;
    background-color: #47a0ee;
    padding: 10px 15px;
    border: 1px solid #47a0ee;
    border-radius: 3px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}

.button-submit:disabled {
    background-color: #9d9d9d;
    border-color: #9d9d9d;
    cursor: default;
}

.video {
    width: 100%;
    height: 100%;
}
